html {
  height: 100%;
}
body {
  font-size: 15pt;
  background: #0f172a;
  overflow-: hidden;
  margin: 0;
  height: 100%;
}
div {
  overflow: hidden;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family: "GFF Devanagari";
  src: url("GFFDevanagari.woff2") format("woff2"),
    url("GFFDevanagari.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.header {
  font-family: "GFF Devanagari";
  color: #c7d7ff;
  margin: 0;
  margin-top: 5%;
  font-size: 300%;
}
.paragraph {
  font-family: "GFF Devanagari";
  color: #c7d7ff;
  margin: 0;
}
.img {
  width: 90%;
  margin-top: 5%;
  margin: 0px;
  padding: 0px;
  transition: all 500ms ease;
}
.imsjjsjdh {
  width: 90%;
  margin-top: 5%;
  margin: 0px;
  padding: 0px;
  filter: blur(0px);
  transition: all 500ms ease;
}
.img2 {
  width: 35%;
  margin: 0px;
  margin-top: 3%;
  margin-left: 3%;
  padding: 0px;
}
.pp2 {
  margin: 0px;
  padding: 0px;
  font-family: "GFF Devanagari";
  color: #c7d7ff;
  font-size: 150%;
  margin-top: 3%;
}
.png {
  width: 10%;
  margin-top: 20%;
  transition: all 250ms ease;
}
.footer {
  font-family: "GFF Devanagari";
  color: #c7d7ff;
  font-size: 80%;
  margin-top: 3%;
}
.footer2 {
  font-family: "GFF Devanagari";
  color: #c7d7ff;
  font-size: 80%;
  margin-bottom: 5%;
}
.skjsjdjdjx {
  margin-top: 10%;
  background: #111b32;
  border-radius: 10px;
  border: 1px #26324e double;
}
.fidndjdjd {
  background: #111b32;
  border-radius: 10px;
  border: 1px #26324e double;
}
h1 {
  text-align: center;
}
.name {
  font-family: "GFF Devanagari";
  color: #c7d7ff;
  font-size: 80%;
}
.sidndnd {
  width: 10%;
  margin: 0px;
  padding: 0px;
  display: block;
  border-radius: 10px;
  margin-right: 2%;
  transition: all 500ms ease;
}
.maindialogbg {
  height: 100%;
  width: 100%;
  background: rgba(15, 23, 42, 0.9);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  touch-action: none;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pngzjznsn:hover {
  width: 100%;
  margin-top: 5%;
  margin: 0px;
  padding: 0px;
  filter: grayscale(100%);
}
#wjdjdnnd:hover {
  width: 100%;
  margin-top: 5%;
  margin: 0px;
  padding: 0px;
}
.wjsjhs {
  background: #253251;
  height: auto;
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 7%;
  margin-right: 7%;
}
.button {
  font-family: "GFF Devanagari";
  background: #c7d7ff;
  font-size: 80%;
  width: 50%;
  border: none;
  padding-top: 3%;
  padding-bottom: 3%;
  transition: all 250ms ease;
}
.djdndn {
  color: #c7d7ff;
  font-family: "GFF Devanagari";
  color: #c7d7ff;
  font-size: 150%;
}
.button:hover {
  background: #5c75b3;
  color: #c7d7ff;
  border: none;
  padding-top: 3%;
  padding-bottom: 3%;
}
@keyframes dialog1hide {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes dialog1show {
  from {
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.kdjdjdjs {
  height: 100%;
  width: 100%;
  background: rgba(15, 23, 42, 0.9);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  touch-action: none;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skjsnjdjj {
  font-family: "GFF Devanagari";
  background: #c7d7ff;
  font-size: 80%;
  width: 100%;
  border: none;
  padding-top: 3%;
  padding-bottom: 3%;
  transition: all 250ms ease;
}
.skjsnjdjj:hover {
  background: #5c75b3;
  color: #c7d7ff;
  border: none;
  padding-top: 3%;
  padding-bottom: 3%;
}
.png:hover {
  width: 13%;
  margin-top: 20%;
  filter: grayscale(100%);
}
.jcudjdbd {
  height: 100%;
  width: 100%;
  background: rgba(15, 23, 42, 1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
  touch-action: none;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sjjshdhd {
  height: 50vw;
  width: 50vw;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  margin-left: 7%;
  margin-right: 7%;
  justify-content: center;
  align-items: center;
}
@keyframes jdjhdnd {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.dkdjdj {
  width: 30%;
}
.ejeijej {
  display: flex;
  align-items: center;
}
.yyfyfbyh {
  width: 10%;
  margin-left: 46%;
  margin-top: 3%;
}
.jusjxjhh {
  height: 100%;
  width: 100%;
  background: rgba(15, 23, 42, 0.9);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  touch-action: none;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header:after {
  content: "JINXX6_6" !important;
}
#ejushsj:after {
  content: "Craftland Creator" !important;
}

#jdidjdn:after {
  content: "Popular map" !important;
}
#isjsjsh:after {
  content: "Cloud pierce" !important;
}
#dkisjdj:after {
  content: "Lucifer" !important;
}
.pp2:after {
  content: "Other craftland creators" !important;
}
#jsidhdh:after {
  content: "Unnamed" !important;
}
.footer:after {
  content: "CREATED BY JINXX6_6 ️💚" !important;
}
.footer2:after {
  content: "Version 2.0 beta not responsible layout" !important;
}
.djdidj {
  margin: 0px;
  padding: 0px;
  font-family: "GFF Devanagari";
  color: #c7d7ff;
  font-size: 150%;
  margin-top: 3%;
}
.jdidhdh {
  margin-top: 5%;
  background: #111b32;
  border-radius: 10px;
  border: 1px #26324e double;
  margin-left: 7%;
  margin-right: 7%;
}
.kxisjdnd {
  margin: 0px;
  padding: 0px;
  font-family: "GFF Devanagari";
  color: #c7d7ff;
  font-size: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  background: #1a2a4e;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 5px;
  transition: all 250ms ease;
}
.kdidjdjdj {
  padding: 0px;
  font-family: "GFF Devanagari";
  color: #6e7584;
  font-size: 100%;
  margin-top: 0%;
  margin-bottom: 2%;
  background: #1a2a4e;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 5px;
}
.kxisjdnd:hover {
  color: #1a2a4e;
  font-size: 105%;
  background: #c7d7ff;
}

h1 {
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
}
.kxisjdnd {
  font-size: 80% !important;
}
.kdidjdjdj {
  font-size: 80% !important;
}

.jsScroll {
  position: relative;
}
.menu_bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  touch-action: none;
  z-index: 63737;
  display: flex;
  justify-content: right;
  align-items: top;
  visibility: hidden;
  transition: all 1s ease 0s;
}
.bg {
  margin-top: 15%;
  margin-right: 5%;
  background: #1a2a4e;
  width: 50%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #3c5188;
  outline: 2px dashed #3c5188;
  outline-offset: 3px;
  visibility: hidden;
  position: fixed;
  transition: all 1s ease 0s;
  perspective: 500px;
  padding-left: 2%;
  padding-right: 2%;
  z-index: 63738;
}
@keyframes menu {
  to {
    opacity: 1;
    transform: rotateX(0deg) scale(1) rotateY(0deg);
    transform-style: preserve-3d;
    transform: scale(1);
    visibility: visible;
  }
  from {
    opacity: 0;
    visibility: hidden;
    transform: rotateX(90deg) scale(0.1) rotateY(90deg);
    transform-style: preserve-3d;
  }
}

@keyframes menu_bgfade {
  to {
    visibility: visible;
  }
  from {
    visibility: hidden;
  }
}
@keyframes menu2 {
  to {
    opacity: 0;
    visibility: hidden;
    transform: rotateX(90deg) scale(0.1) rotateY(90deg);
    transform-style: preserve-3d;
  }
  from {
    opacity: 1;
    transform: rotateX(0deg) scale(1) rotateY(0deg);
    transform-style: preserve-3d;
    visibility: visible;
  }
}

@keyframes menu_bgfade2 {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
.yyfyfbyh {
  transition: all 1s ease 0s;
}
.yyfyfbyh:hover {
  opacity: 0.5;
}
.menu_text {
  width: 100%;
  text-align: center;
  font-family: "GFF Devanagari";
  background: #253863;
  border-radius: 5px;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #c7d7ff;
}
.menu_cat_text {
  width: 100%;
  text-align: center;
  font-family: "GFF Devanagari";
  color: #7787ac;
  margin-top: 5%;
  margin-bottom: 5%;
}
.menu_text:hover {
  background: #c7d7ff;
  color: #253863;
}

.menu_text_dis {
  width: 100%;
  text-align: center;
  font-family: "GFF Devanagari";
  background: #253863;
  border-radius: 5px;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #c7d7ff;
  opacity: 0.3;
}
.sjbgsb {
  
  width: 100%;
  height: 100vh;
  position: fixed;
  touch-action: none;
  z-index: 63737;
  display: flex;
  justify-content: right;
  align-items: top;
  visibility: hidden;
}